<div {{ attributes }}>
    <button class="{{ this.classes }} cursor-pointer text-gray-500"
         data-action="live#action"
        data-live-action-param="toggleLike"
        aria-label="J'aime"
    >
        <i class="{{ this.iconType }} fa-heart"></i>
        <span>{{ this.likes }}</span>
    </button>
</div>
