{# search input form #}
<form action="#" method="get" class="flex flex-row">
    <input
        type="text"
        name="search"
        value="{{ app.request.query.get('search') }}"
        placeholder="Rechercher"
        class="w-full px-4 py-2 bg-gray-50 rounded-3xl"
    />
</form>
