{% extends 'base.html.twig' %}

{% block body_content %}
    <div class="flex h-screen flex-col items-center justify-center">
        <h1 class="text-6xl font-bold text-gray-300">Oops! Something went wrong.</h1>

        <p class="mt-5">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('public_index') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}
