{% extends 'base.html.twig' %}

{% block body_content %}
    <div class="flex h-screen flex-col items-center justify-center">
        <h1 class="text-6xl font-bold text-gray-300">Oops! Something went wrong.</h1>

        <p class="mt-5">
            There was an error while processing your request. Please try again later.
        </p>
        <a href="{{ path('public_index') }}">Return to the homepage</a>.
    </div>
{% endblock %}
